name: Continuous Integration

on:
    push:
    pull_request:
        branches: [master]
jobs:
    prettier:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  # Make sure the actual branch is checked out when running on pull requests
                  ref: ${{ github.event.pull_request.head.ref }}
                  repository: ${{ github.event.pull_request.head.repo.full_name }}
                  # This is important to fetch the changes to the previous commit
                  fetch-depth: 0

            - name: Check source code style with Prettier
              uses: creyD/prettier_action@v4.3
              with:
                  prettier_options: --write index.html
                  only_changed: True
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}